<!DOCTYPE html>
<html>
<head>
  <title>MonologueMarkdown</title>
  <%= stylesheet_link_tag    "monologue-markdown/application", :media => "all" %>
  <%= javascript_include_tag "monologue-markdown/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
