$(document).ready ->
  textarea = $("#post_posts_revision_content")
  $(textarea).after("<div id='epiceditor'></div>")
  $(textarea).hide()
  opts =
    container: "epiceditor"
    basePath: ""
    clientSideStorage: true
    localStorageName: "epiceditor"
    parser: marked
    file:
      name: "epiceditor"
      defaultContent: ""
      autoSave: 100

    theme:
      base: "<%= asset_path("monologue-markdown/epiceditor/themes/base/epiceditor.css")%>"
      preview: "<%= asset_path("monologue-markdown/epiceditor/themes/preview/github.css")%>"
      editor: "<%= asset_path("monologue-markdown/epiceditor/themes/editor/epic-dark.css")%>"

    focusOnLoad: false
    shortcut:
      modifier: 18
      fullscreen: 70
      preview: 80
      edit: 79

  editor = new EpicEditor(opts)

  editor.on "load", (data) ->
    editor.importFile('epiceditor',$(textarea).val())

  editor.on "update", (data) ->
    textarea.val data.content

  editor.load()